


footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(74, 99, 243);
    color: white;
}
button{
    display: block;
    margin: 1rem auto;
    padding: .5rem .5rem;
    background-color: rgb(74,99, 243);
    color: white;
    cursor: pointer;
}
label {
    font-weight: 600;
    margin-top: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}


fieldset {
    padding: 1rem;
    margin-top: 1rem;
}
fieldset input[type="checkbox"] {
    width: auto;
    cursor: pointer;
}

legend {
    padding: 0 0.5rem;
    font-weight: bold;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-weight: normal;
}


.navbar {
    background-color: rgb(74, 99, 243);
    padding: 1rem 1rem;
}

.navbar a {
    color: white;
}
.navbar ul{
    display: flex;
    margin:0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    list-style-type: none;

}

.info-input form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media (max-width: 600px) {

    .navbar ul {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }

    button {
        width: 50%;
        max-width: 300px;
        margin: 0 auto;
    }


    fieldset input[type="checkbox"] {
        width: auto;
        transform: scale(1.2);
        cursor: pointer;
    }

    input:not([type="checkbox"]), select, textarea {
        width: 100%;
        font-size: 1rem;
    }
}

